<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestor de tareas</title>
</head>
<body>

<h1>📝 Mi lista de tareas</h1>

<form action="/agregar" method="POST">
    <input type="text" name="nombre" placeholder="Escribe una tarea">
    <button type="submit">Agregar</button>
</form>

<hr>

{% if tareas %}
    <ul>
    {% for tarea in tareas %}
        <li>
            {% if tarea.completada %}
                ✔
            {% else %}
                ■
            {% endif %}

            {{ tarea.nombre }}

            {% if not tarea.completada %}
                <a href="/completar/{{ loop.index0 }}">Completar</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay tareas todavía</p>
{% endif %}

</body>
</html>